html,
body{
  background-color: #ff4545 ;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#reality {
    position:relative;
    width: 100%;
    height: 100%;
}

#brain {
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 300px 300px 0px 0px;
  background-color: #ecd2d8;

}

.scrible {
  position: absolute;
  width: 200px;
  height: 200px;
  background: yellow;

}

.scrible1 {
  left: 100px;
  top: 20px;
  width: 0;
	height: 0;
	border-top: 100px solid #ff4545;
	border-right: 100px solid #CFAA11;
}

.scrible2 {
  bottom: 10px;
  right: 20px;
  width: 0;
	height: 0;
	border-bottom: 100px solid #ff4545;
	border-right: 100px solid #ADFF2F;
}

.scrible3 {
  top: 50px;
  right: 50px;
  width: 0;
	height: 0;
	border-top: 100px solid #ff4545;
	border-right: 100px solid #205D75;
}

.scrible4 {
  bottom: 50px;
  left: 10px;
  width: 0;
	height: 0;
	border-top: 100px solid #ff4545;
	border-left: 100px solid #3023F1;
}

.scrible5 {
  bottom: 300px;
  right: 300px;
  width: 0;
  height: 0;
  border-top: 100px solid #ff4545;
  border-left: 100px solid #FFFFE0;
}

.scrible6 {
  bottom: 370px;
  right: 500px;
  width: 0;
  height: 0;
	border-bottom: 100px solid #ff4545;
  border-left: 100px solid #9D62C0;
}
.scrible7 {
  bottom: 400px;
  right: 200px;
  width: 0;
	height: 0;
	border-left: 50px solid #ff4545;
	border-right: 50px solid #ff4545;
	border-top: 100px solid #F1FD17;
}

.scrible8 {
  bottom: 150px;
  left: 80px;
  width: 0;
	height: 0;
	border-left: 50px solid #ff4545;
	border-right: 50px solid #ff4545;
	border-top: 100px solid #F1FD17;
}

.brainParts {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;

}

.brainParts1 {
  left: 40px;
  bottom: 30px;
  background: #FAB072;
  border-style: dotted;
}

.brainParts2 {
  left: 80px;
  bottom: 70px;
  background: #FF2400;
  border-style: dotted;
}

.brainParts3 {
  left: 200px;
  bottom: 100px;
  background: #7C0A02;
  border-style: dotted;
}

.brainParts4 {
  left: 150px;
  bottom: 200px;
  background: #ED2939;
  border-style: dotted;
}

.brainParts5 {
  left: 210px;
  bottom: 5px;
  background: #CD5C5C;
  border-style: dotted;
}

.brainParts6 {
  left: 310px;
  bottom: 45px;
  background: #E0115F;
  border-style: dotted;
}

.brainParts7 {
  left: 310px;
  bottom: 185px;
  background: #B22222;
  border-style: dotted;
}

.brainParts8 {
  left: 100px;
  bottom: 150px;
  background: #D64D0C;
  border-style: dotted;
}

.brainParts9 {
  left: 380px;
  bottom: 150px;
  background: #ED2939;
  border-style: dotted;
}

.brainParts10 {
  left: 420px;
  bottom: 50px;
  background: #F71C55;
  border-style: dotted;
}


.lineup {
  position: absolute;
  width: 5px;
  height: 100px;
  background: red;
}

.line1 {
  left: 10px;
  bottom: 185px;
  background: #17FD4A;
}

.line2 {
  height: 200px;
  left: 25px;
  bottom: 200px;
  background: #17FD4A;
}

.line3 {
  height: 200px;
  left: 40px;
  bottom: 150px;
  background: #17FD4A;
}

.line4 {
  right: 10px;
  bottom: 185px;
  background: #EEE934;
}

.line5 {
  height: 200px;
  right: 25px;
  bottom: 200px;
  background: #EEE934;
}

.line6 {
  height: 200px;
  right: 40px;
  bottom: 150px;
  background: #EEE934;
}

.line7 {
  height: 300px;
  right: 180px;
  bottom: 60px;
  background: #34EEE8;
}

.line8 {
  height: 400px;
  right: 200px;
  bottom: 20px;
  background: #34EEE8;
}

.line9 {
  height: 200px;
  right: 220px;
  bottom: 150px;
  background: #34EEE8;
}

.lineside {
  position: absolute;
  width: 100px;
  height: 5px;
  background: #EB97E8;
}

.lines1{
  width: 200px;
  left: 150px;
  bottom: 300px;
}

.lines2{
  width: 150px;
  left: 120px;
  bottom: 315px;
}

.lines3{
  width: 250px;
  left: 190px;
  bottom: 330px;
}

.lines4{
  width: 200px;
  left: 310px;
  bottom: 500px;
  background: #FAF467
}

.lines5{
  width: 150px;
  left: 420px;
  bottom: 515px;
  background: #FAF467
}

.lines6{
  width: 250px;
  left: 280px;
  bottom: 530px;
  background: #FAF467
}
